.register-content {
    margin: 50px auto;
    padding: 25px 20px 50px;
    width: 50%;
    background-color: rgba(230, 230, 230, 0.8);

    h3 {
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 2px solid rgb(200, 200, 200);
        color: #555;
    }

    button {
        margin-top: 20px;
    }
}