.article-preview-container {
    width: 80%;
    margin: 50px auto 50px;
    padding: 2rem 3rem 2rem;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    .article-preview-header {
        margin-bottom: 20px;
        text-align: left;
        border-bottom: .5px solid #ddd;

        p {
            font-size: 12px;
        }
    }

    .article-preview-content {
        padding: 0 0 2rem;
        margin-bottom: 20px;
        border-bottom: .5px solid #ddd;
        text-align: justify;
        word-wrap: break-word;

        &.clearfix::after {
            content: "";
            clear: both;
            display: table;
          }

        img {
            margin: 0 15px 10px 0;
            width: 300px;
            height: 200px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 12px;
            float: left;
        }

        p {
            display: inline;
            font-size: 1.1rem;
        }
    }

    .article-preview-footer {
        text-align: right;
    }
}